// ----------  forms
// ------------------------------------------------------------------------------
@use "../abstracts" as *;

.select {
  position: relative;

  .css-1u9des2-indicatorSeparator {
    display: none !important;
  }
}

.input {
  padding: 0 10px;
  position: relative;
  width: 100%;
  height: 45px;
  background-color: $white;
  border: 1px solid $grey-border;
  border-radius: 5px;
  font-weight: $thin;
  color: $black;

  &::placeholder {
    color: $grey-medium;
  }

  &:invalid {
    background-color: $grey;
  }
}

input[type="date"] {
  font-family: $font-default;
  color: $black;

  &::placeholder {
    color: $grey-medium;
  }
}

.error--list-input,
.error--list-select {
  color: $red;
  font-size: 9px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0;
}

.textarea {
  height: 220px;
  border: 1px solid $grey-border;
  border-radius: 10px;
  padding: 10px 20px;
  resize: none;
  font-family: $font-default;
  width: 100%;

  &::placeholder {
    color: $grey-medium;
  }
}

.data__item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;

  .data__select {

    label {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: 12px;
    }

    .select {
      display: flex;

      &::placeholder {
        color: $grey-medium;
      }
    }

    @include media-breakpoint-up(xl) {
      width: 23%;
    }

    @include media-breakpoint-between(md, lg) {
      width: 48.3%;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  .data__input {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;

    label,
    input {
      font-size: 12px;
    }



    input::placeholder {
      font-size: 12px;
    }

    input::date {
      font-size: 12px;
    }

    @include media-breakpoint-up(xl) {
      width: 23%;
    }

    @include media-breakpoint-between(md, lg) {
      width: 48.3%;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  .data__textarea {
    label {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    @include media-breakpoint-up(xl) {
      width: 70%;
    }

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }
}

.select--mandatory,
.data__input--mandatory {
  &::after {
    content: "*";
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: $red;
    font-size: 20px;
  }
}

.data__input--mandatory {
  &::after {
    top: 0;
  }
}

.select--mandatory {
  &::after {
    top: -20px;
  }
}