@use "breakpoints" as *;
@use "sass:math";

// ----------  Text Overflow
// ------------------------------------------------------------------------------
@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// ----------  Vertical / horizontal alignment
// ------------------------------------------------------------------------------
@mixin align($position: relative, $direction: x) {
  position: $position;
  @if ($direction == "y") {
    top: 50%;
    transform: translateY(-50%);
  } @else if ($direction == "xy") {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else {
    left: 50%;
    transform: translateX(-50%);
  }
}

// example: @include align(absolute, xy); for centering both axis'
// default @include align(); will be relative on x axis

//	Visually hidden mixin for accessibility
@mixin visually-hidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Hover mixin only for desktop devices
// to include use @include hover {your hover styles} can also include elements
@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    .no-touch &:hover {
      @content;
    }
  }
}

// Focus mixin - focus state visible only when tabbing is active
// to include use @include focus {your focus styles} can also include elements
@mixin focus {
  @media only screen and (min-width: 1200px) {
    .active-focus &:focus {
      @content;
    }
  }
}

// ----------  Fonts import
// ------------------------------------------------------------------------------

// usage: @include webFont(Helvetica, HelveticaNeueLTStd-Th, 100);
// in mixin call add three parameters (font name, font file name, font-weight, [font-style])
$path: "../assets/fonts" !default;

@mixin webFont($name, $file, $weight, $style: "normal") {
  @font-face {
    font-family: "#{$name}";
    src: url("#{$path}/#{$file}.woff2") format("woff2"),
      url("#{$path}/#{$file}.woff") format("woff");
    font-weight: #{$weight};
    @if ($style != "normal") {
      font-style: #{$style};
    } @else {
      font-style: normal;
    }
  }
}

// ----------  Animation mixin
// ------------------------------------------------------------------------------

// @include animation {transition: color 3s ease;}
@mixin animation {
  .loaded & {
    @content;
  }
}