@use "breakpoints" as *;
@use "sass:math";

// ----------  Text Overflow
// ------------------------------------------------------------------------------
@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// ----------  Vertical / horizontal alignment
// ------------------------------------------------------------------------------
@mixin align($position: relative, $direction: x) {
  position: $position;
  @if ($direction == "y") {
    top: 50%;
    transform: translateY(-50%);
  } @else if ($direction == "xy") {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else {
    left: 50%;
    transform: translateX(-50%);
  }
}

//	Visually hidden mixin for accessibility
@mixin visually-hidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin focus {
  @media only screen and (min-width: 1200px) {
    .active-focus &:focus {
      @content;
    }
  }
}

// ----------  Animation mixin
// ------------------------------------------------------------------------------

// @include animation {transition: color 3s ease;}
@mixin animation {
  .loaded & {
    @content;
  }
}